body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
}

@keyframes animatedCat
{
  /*0% {
    transform: rotate(0deg);
    left:0%;
  }*/
  25% {
    transform: rotate(20deg);
    left:0%;
  }
  50% {
    transform: rotate(0deg);
    left:30%;
  }
  55% {
    transform: rotate(-20deg);
    left:30%;
  }
  70% {
    transform: rotate(180deg);
    left:30%;
  }
  100% {
    transform: rotate(-360deg);
    left:0px;
  }
}
.catDancerMoving{
  position:absolute;
  animation:animatedCat 5s 2;
  animation-iteration-count:infinite;
  border-radius:5px;
  border:none;
}

.catDancer{
}

.babyCatRider{
}

.leftAlign{
/*  position:absolute;
  left: 0;
  border:10px solid red;*/
}
/*
.rightAlign{
  position:absolute;
  right:0px;
  float:right;
}
*/
